@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('normalize.css');
@import url('reset.css');
/* 숨김 콘텐츠 */
.readable -hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0)
}

/* 기본스타일 */
*, *::before, *::after{
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  background-color: #aaa;
  color: #181818;
  font-family: 'Spoqa Han Sans', sans-serif;
  font-size: 1.4rem;
}

a{
  color: inherit;
  text-decoration: none;
}
.clearfix::after{
  content: '';
  clear: both;
  display: block;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header{
  background-color: white;
  position: relative;
  padding: 0 30px 40px;
  border-radius: 0 0 15px 15px / 0 0 50px 50px;
} 
/* 로고 */
.logo {
  position: absolute;
  left: 65px;
  top: 48px;
}
/* 멤버 링크 */
.member{
  float: right;
  text-transform: uppercase;
  padding: 2px 0;
}
.member li{
  float: left;
}
.member li:nth-child(n+2)::before{
  content: ':';
}
.member a{
  display: inline-block;
  padding: 20px 10px;
}
/* 메인 메뉴 */
.navigation{
  clear: both;
}
.menu{
  background-color: #ed552f;
  background-image: linear-gradient(#fcb479, #ed552f, #ed552f, #fcb479);
  border-top: 2px soild black;  
  height: 47px;
  border-radius:  0 0 5px 5px;
  padding-left: 225px;
}
.menu-item-text{
  background: green;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0px 0 black, 0px -1px 0 black;
}
/* 비주얼 */
.visual{
  background-color:orangered;
  height: 10vh;
}
/* 메인 콘텐츠 */
.main{
  background-color:blue;
  height: 60vh;
  padding: 0 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.group{
  background-color:lightgreen;
}
.group1{
  width: 250px;
}

.group2{
  width: 380px;
}

.group3{
  width: 100px;
}
.slogan{
  background-color:pink;
  height: 10vh;
}

.footer{
  background-color:yellow;
  height: 10vh;
}
.footer-bg{
  background-color:purple;
}